
.product__container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 25px;
  
    @media (min-width:$mobileSmall){
        width: 80%;
   }
    @media (min-width:$mobile){
        width: 100%;
         grid-template-columns: 400px 1fr; 
    }
    padding-bottom: 30px;

}


.product__img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.product__info {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 30, 15);

}
.product__name {
    font-size: 25px;
    text-transform: capitalize;
}
.product__company {
    font-size: 22px;
    text-transform: capitalize;
}
.product__price {
}
.product__colors {
    display: flex;
    gap: 10px;
    span{
        width: 30px;
        height: 30px;
    }
}
.product__desc {
    line-height: 1.3;
    font-size: 19px;
    margin-top: 20px;
    &::first-letter{
        text-transform: capitalize;
    }
}

.product__btns{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}